.area-common {
    padding:100px;
}
.m-input-title.type01 {
    margin-bottom:8px;
    font-size:14px; font-weight:bold; color:#707070;
}
.m-input-select.type01 {
    max-width:480px;
    position:relative;
}
.m-input-select.type01 .value {
    display:flex; align-items: center; justify-content: space-between;
    height:48px; padding:0 16px;
    border:1px solid #E4E4E4; cursor:pointer; border-radius:8px;
}
.m-input-select.type01 .value.disabled {
    color:#C1C1C1;
}
.m-input-select.type01 .value i {
    font-size:10px; font-weight:bold;
}
.m-input-select.type01 .value.active i {
    transform:rotate(180deg);
}
.m-input-select.type01 .value.active {
    border-color:#F25C35;
    box-shadow:0px 3px 6px rgba(0,0,0,0.16);
}
.m-input-select.type01 .value .point {
    margin-left:8px; margin-right:auto; color:#F25C35;
}
.m-input-select.type01 .options {
    width:100%;
    margin-top:8px; padding:8px;
    position:absolute; top:100%; left:0;
    border:1px solid #F25C35; border-radius:8px;
    box-shadow:0px 3px 6px rgba(0,0,0,0.16);
}
.m-input-select.type01 .option {
    display:flex; align-items: center; width:100%;
    padding:8px 10px; margin-bottom:4px;
    border-radius:8px;
    font-size:14px; font-weight:500; text-align:left;
}
.m-input-select.type01 .option:last-of-type {
    margin-bottom:0;
}
.m-input-select.type01 .option .checkbox {
    display:flex; align-items: center; justify-content: center;
    width:16px; height:16px;
    margin-right:12px;
    font-size:8px; color:transparent;
    border-radius:2px; border:1px solid #707070;
}
.m-input-select.type01 .option.active {
    background-color:rgba(242,92,53,0.14); color:#F25C35;
}
.m-input-select.type01 .option.active .checkbox {
    color:#fff; background-color:#F25C35; border-color:transparent;
}
.m-input-address {
    width:640px; padding:32px 24px;
    border:1px solid #E4E4E4; border-radius:8px; box-shadow:0px 8px 24px rgba(0,0,0,0.08);
}
.m-input-withBtn.type01 {
    display:flex;
}
.m-input-withBtn.type01 .m-input-btn {
    min-width:104px; height:auto; margin-left:12px;
}
.m-input-withBtn.type01 .m-input-text.type01 {
    flex:auto;
}
.m-input-text.type01 input {
    width:100%; height:48px;
    padding:0 16px;
    border:1px solid #E4E4E4; border-radius:8px;
}
label {
    cursor:pointer;
}
.m-tags.type01 .m-tag {
    padding:8px 12px;
    font-size:14px; color:#707070;
    border-radius:8px; background-color:#E4E4E4;
}
.m-tags.type01 .m-tag i {
    margin-left:16px; font-size:10px;
}
.m-input-file.type01 {
    display:flex; align-items: center;
    width:100%; height:48px;
    padding:0 16px;
    border:1px solid #E4E4E4; border-radius:8px;
}
.m-input-file.type01 .replace {
    color:#C1C1C1;
}
.m-input-file.type01 input {
    display:none;
}
.m-btns.type01 {
    display:flex; flex-wrap:wrap;
    margin:-6px;
    position:relative; z-index:1;
    text-align: center;
}
.m-btns.type01 .m-btn-wrap {
    flex:1;
    padding:6px;
}
.m-btns.type01 .m-btn.type01 {
    width:100%;
}
.m-btn.type01 {
    display:flex; align-items: center; justify-content: center;
    height:43px; padding:0 20px;
    font-weight:500;
    background-color:#F25C35; color:#fff; border-radius:8px;
    border:1px solid transparent;
}
.m-btn.type01.bg-gray {
    background-color:#ccc;
}
.m-btn.type01.type-revert {
    border-color:#F25C35; color:#F25C35; background-color:#fff;
}
.m-pop.type01 {
    display:flex; align-items: center; justify-content: center;
    width:100%; height:100%; padding:0 20px;
    position:fixed; top:0; left:0;
    z-index:10;
    background-color:rgba(0,0,0,0.5);
}
.m-pop.type01 .m-pop-inner {
    padding:54px 60px;
    background-color:#fff; border:1px solid #E4E4E4;
    box-shadow:0px 8px 24px rgba(0,0,0,0.08);
    border-radius:8px;
    text-align: center;
}
.m-pop.type01 .m-pop-inner .title {
    font-size:20px; font-weight:bold;
}
.m-pop.type01 .m-pop-inner .body {
    margin-top:12px;

}
.m-pop.type01 .m-pop-inner .m-btn {
    min-width:140px;
    margin:0 auto; margin-top:32px;
}
.mt-40 {
    margin-top:40px;
}
.mt-16 {
    margin-top:16px;
}
.mt-8 {
    margin-top:8px;
}
.m-divide.type01 {
    width:100%; height:8px; margin:8px 0;
    background-color:#F5F5F5;
}
.m-input-address .boxes {
    height:370px;
    margin-top:16px; padding:8px;
    position:relative;
    border-radius:8px; background-color:#F5F5F5;
    overflow-y:auto;
}
.m-input-address .boxes .guide {
    position:absolute; top:50%; left:50%; transform:translate(-50%, -50%);

}
.m-input-address .boxes .guide .title {
    margin-bottom:16px;
    font-size:20px; font-weight:bold; text-align: center;
}
.m-input-address .boxes .guide .body {
    margin-bottom:8px;
    font-weight:500; color:#777;
}
.m-input-address .boxes .guide .body:last-of-type {
    margin-bottom:0;
}
.m-input-address .boxes .guide .body .sub {
    width:150px;
    margin-left:12px;
    font-size:14px; color:rgba(0,0,0,0.5);
}
.m-input-address .box {
    padding:16px; padding-bottom:32px;
    transition: all .3s; cursor:pointer;
    border-bottom:1px solid #e1e1e1; border-radius:8px;
}
.m-input-address .box:last-of-type {
    border-bottom:none;
}
.m-input-address .box:hover {
    background-color:#fff;
}
.m-input-address .box .category {
    margin-bottom:16px;
    font-size:14px; font-weight:500; color:#F25C35;
}
.m-input-address .box .title {
    margin-bottom:8px;
    font-size:18px; font-weight:500;
}
.m-input-address .box .body {
    font-size:14px; color:#707070;
}
.m-input-address .box:last-of-type {
    margin-bottom:0;
}